body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
  width: 1000px;
  display: flex;
}

span {
  border: 1px solid black;
  width: 24%;
  display: flex;
  position: relative;
}

.sort-buttons-div {
  right: 0;
  position: absolute;
  display: flex;
}

.column-stats {
  position: absolute;
  top: 17px;
  right: -1px;
  background: white;
  display: none;
  z-index: 1;
}

.column-stats span {
  width: 198px;
}

.col-data-type {
  display: none;
  position: absolute;
  top: -36px;
  right: -1px;
  width: 107px;
  background: yellow;
}

.row-num {
  width: 92px;
  display: none;
  background: yellow;
  position: absolute;
  top: -35px;
  left: -1px;
  z-index: 1;
}
