body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
  width: 500px;
  display: flex;
}

span {
  border: 1px solid black;
  width: 49%;
  display: flex;
  position: relative;
}

.sort-buttons-div {
  right: 0;
  position: absolute;
  display: flex;
}

.sort-button {

}
