body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
  display: flex;
  white-space: normal;
}

span {
  border: 1px solid black;
  width: 200px;
  display: flex;
  position: relative;
}

.table-div {
  position: relative;
  width: 100%;
}

.filter-div {
  position: fixed;
  bottom: 25%;
  left: 25%;
  width: 50%;
  z-index: 2;
  background: white;
  border: 1px solid black;
  height: 200px;
  overflow: auto;
}

.table-ul {
  height: 400px;
  overflow: auto;
  white-space: normal;
  /* width: 1600px; */
  padding-left: 0;
}

.col-header-cell {
  display: block;
  height: 40px;
}

.header-title {
  border: 0;
  width: 198px;
}

.sort-buttons-div {
  left: 0;
  position: absolute;
  display: flex;
  padding-right: 3px;
}

.column-stats {
  position: absolute;
  top: 17px;
  right: -1px;
  background: white;
  display: none;
  z-index: 1;
}

.column-stats span {
  width: 198px;
}

.sort-button {
  margin: 0 2px;
}

.fa-sort-down {
  font-size: 20px;
  position: relative;
  top: -5px;
}

.fa-sort-up {
  font-size: 20px;
  position: relative;
  top: 4px;
}

.col-data-type {
  display: none;
  position: absolute;
  top: -36px;
  right: -1px;
  width: 107px;
  background: yellow;
}

.row-num {
  width: 92px;
  display: none;
  background: yellow;
  position: absolute;
  top: -35px;
  left: -1px;
  z-index: 1;
}
